.form-box1{
    width:400px;
    height:auto;
    padding: 25px;
    background-color: antiquewhite;
    position: absolute;
    transform: translate(-50%, 50%);
    border-radius: 10px;
    left: 50%;
    top: -40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    z-index: 1;
}